<!DOCTYPE html>
<html lang="en">
<%- include('./head', {title: "Form Detail"}) %>
<body>
    <%- include('./navbar') %>
    <div class="container detail p-3 mt-5 text-center">
        <img class="img-fluid img-thumbnail w-25 mt-5" src="<%= product.imageUrl %>" alt="<%= product.name %>">
        <div class="container-fluid pt-3">
            <h2>Detail Information</h2>
            <h3><%= product.name %></h3>
            <div class="card text-start">
                <p class="ms-1 mt-1"><strong>Description</strong> : <%=product.description %></p>
                <p class="ms-1 mt-1"><strong>Price</strong> : <%=product.priceToIdr() %></p>
                <p class="ms-1 mt-1"><strong>Stock</strong> : <%=product.stock %> units</p>
            </div>
        </div>
    </div>
</body>
</html>